
body{
    padding: 0;
    margin: 0;
    font-family:'Koulen';
    font-style: inherit;
    font-size: 14px;
    color: #000;
    background-color: #2D2B2B;

}
.header{
    padding-top: 50px;
    padding-left: 50px;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border:1px solid white;*/
}
.logo{
    font-family: inherit;
    font-size: 18px;
    display: flex;
    padding-left: 15px;
    color: #ded6d6;
    margin-right: 1050px;
    margin-bottom: 100px;

}
.burger-menu_button{
    position: fixed;
    top: 45px;
    right: 50px;
    padding: 0;
    margin: 0;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:transparent;
    transition: 0.4s;

}
.burger-menu burger-menu_active{
    padding: 0;
    margin: 0;

}
.burger-menu_button:hover .burger-menu_lines {
    filter: brightness( 0.7);
}
.burger-menu_lines,
.burger-menu_lines::after,
.burger-menu_lines::before{
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #ded6d6;
}
.burger-menu_lines{
    position: center;
    top: 50%;
    right: 50%;
    transform: translate(-50% -50%);
}
.burger-menu_lines::before{
    content: '';
    top: -12px;
}
.burger-menu_lines::after{
    content: '';
    top: 12px;
}
.burger-menu_active .burger-menu_button,
.burger-menu_active .burger-menu_lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before{
    top:0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
    top:0;
    transform: rotate(-45deg);
}
.burger-menu_nav{
    padding-top:30px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #232020;
    overflow-y: auto;
    right: -100%;
    transition: 0.5s;

}
.burger-menu_active .burger-menu_nav{
    right:0;
    top: 0;
}

.header-content{
    display: block;
    justify-content: space-between;
}
.title {
    font-size: 50px;
    padding-top: 100px;
    padding-left: 15px;
    color: #ded6d6;
    text-decoration-line: underline;
    text-underline-style: single;

}
.text{
    padding-top: 0px;
    padding-left: 15px;
    font-size: 20px;
    color: #ded6d6;
    margin-bottom: 30px;

}
.btn{
    color: #ded6d6;
    background-color: #A88361;
    margin-top: 50px;
    margin-left: 15px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 77px;
    height: 22px;
    padding:15px 25px;
    background: linear-gradient(180deg, #a47d5a 52.08%, rgba(168, 131, 97, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-width: 1.5px;
    border-style: solid;
    border-color: #211f1f;
}
.button:hover{
    background-color: linear-gradient (180deg, #A1754FFF 52.08%, rgba(168, 131, 97, 0) 100%);
}
.button:active{
    background-color: linear-gradient (180deg, #A47040FF 52.08%, rgba(168, 131, 97, 0) 100%);
}
.popup{
    background-color: #2D2B2B;
    width: 100%;
    height: 100%;
    left:0;
    top: 0;
    transform: translate(-44.5%) scale(0);
    transition: .5s ease-in-out;
    z-index:10;
    position: fixed;


}
.popup.active{
    transform:translate(0%) scale( 100%);
    background-color: rgba(0,0,0,.8);
}
.popup-container{
    display:flex;
    width: 100%;
    height: 100%;
    padding-left: 400px;
    margin-top: -302px;
    top: 50%;


}
.popup-body{
    margin:auto;
    width: 500px;
    background-color: #A88361;
    border-radius: 10px;
    text-align: center;
    padding:100px 15px 110px 15px;
    position: relative;


}
.popup-body p{
    font-size: 25px;
    font-family: inherit;
    font-weight: 600;
    color: #2D2B2B;
    margin-bottom: 20px;
    padding-top: 1.5px;


}
.popup-body input{
    display: block;
    margin: 25px auto 0px auto;
    width: 330px;
    padding: 17px 20px;
    background-color: #ded6d6;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    color:#211f1f;
}
.popup-body input:focus{
    outline: none;
}
.popup-body button{
    cursor: pointer;
    display: block;
    width: 180px;
    margin: 20px auto 0px auto;
    padding:10px 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color:#ded6d6;
    border-radius: 10px;
    background-color: #2D2B2B;

}
.popup-close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor:pointer;
    color: #2D2B2B;

}
.header-content{
    display: flex;
    justify-content: space-between;
}
.title-photo{
    width: 500px;
    height: 650px;
    top: 200px;
    padding-right:20px;
    border-radius: 0;
    position: absolute;
    right: 0;

}

.burger-menu_link{
    padding: 30px;
    font-size: 20px;
    font-family: Koulen;
    font-style: inherit;
    text-decoration: underline;
    text-underline-color: #ded6d6;
    text-transform:uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #ded6d6;
}
.burger-menu_link:hover{
    filter: brightness(0.7);
}
.burger-menu_overlay{
    position:fixed;
    display: none;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index:10;
}
.burger-menu_overlay.active {
    display: block;
}
.section-wrapper{
    background-color:#BD9671;
    max-width: 1500px;
}
section#section-1 {
    margin-top: 270px;
    padding-left: 10px;
    height: 570px;
    width: 100%;
    font-family: inherit;
    background-color:#BD9671;
    left: 0;
    right: 0;
    padding-top: 200px;
    font-size: 45px;
    text-align: center;

}
.box{
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    margin-left: 210px ;
}
.fresh-icon{
    width: 40px;
    height: 47px;
}
.time-icon{
    width: 36px;
    height: 42px;
}
.taste-icon{
    width: 46px;
    height: 52px;
}
.description-1{
    padding-top:5px;
    margin-left: 10px;
    font-size: 25px;
    text-align:left;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    margin-right: 80px;
    border-right: 1px solid ;
    padding-right: 30px;


}
.description-2{
    padding-top:1px;
    margin-left: 10px;
    font-size: 25px;
    text-align:left;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    margin-right: 80px;
    border-right: 1px solid ;
    padding-right: 50px;


}
.description-3{
    padding-top:5px;
    margin-left: 10px;
    font-size: 25px;
    text-align:left;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    margin-right: 120px;

}
section#section-2 {
    margin-top: 0;
    height: 1500px;
    width: 100%;
    font-family: inherit;
    background-color: #BD9671;
    left: 0;
    right: 0;
    padding-top: 80px;
    font-size: 45px;
    text-align: center;


}
.card-wrapper{
    margin-top: 100px;
    margin-left: 6px;
    display: grid;
    grid-template-columns: repeat(3,400px);
    column-gap: 20px;
    row-gap: 30px;

}
.card-1{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    margin-right: 5px;
    margin-left: 80px;

}
.card-img-1{
    width: 250px;
    height: 400px;
    margin-left: 2px;
}
.card-title-1{
    margin-top: 5px;
    font-size: 25px;
    text-align: center;

}
.card-items-1{
    justify-content: space-between;
    display: flex;
}
.card-price-1{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 7px;
}
.card-button-wrapper-1{
    margin-top: 25px;
    text-align: right;
    font-size: 15px;
}
.card-button-1{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-1:hover{
    background-color: #a47d5a;
}
.card-2{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    line-height: 1;
    margin-left: 90px;


}
.card-img-2{
    width: 250px;
    height: 400px;
    margin-left: 2px;
}
.card-title-2{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;

}
.card-items-2{
    justify-content: space-between;
    display: flex;
}
.card-price-2{
    font-size: 18px;
    margin-top: 35px;
    margin-left: 7px;
}
.card-button-wrapper-2{
    margin-top: 40px;
    text-align: right;
    font-size: 15px;
}
.card-button-2{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-2:hover{
    background-color: #a47d5a;
}
.card-3{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    line-height: 1;
    margin-left: 95px;
    margin-right: 70px;


}
.card-img-3{
    width: 250px;
    height: 400px;
    margin-left: 2px;
}
.card-title-3{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;

}
.card-items-3{
    justify-content: space-between;
    display: flex;
}
.card-price-3{
    font-size: 18px;
    margin-top: 35px;
    margin-left: 7px;
}
.card-button-wrapper-3{
    margin-top: 40px;
    text-align: right;
    font-size: 15px;
}
.card-button-3{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-3:hover{
    background-color: #a47d5a;
}
.card-4{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    line-height: 1;
    margin-left: 80px;
    margin-top: 15px;


}
.card-img-4{
    width: 250px;
    height: 400px;
    margin-left: 2px;
}
.card-title-4{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;

}
.card-items-4{
    justify-content: space-between;
    display: flex;
}
.card-price-4{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 7px;
}
.card-button-wrapper-4{
    margin-top: 35px;
    text-align: right;
    font-size: 15px;
}
.card-button-4{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-4:hover{
    background-color: #a47d5a;
}
.card-5{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    line-height: 1;
    margin-left: 90px;
    margin-top: 13px;


}
.card-img-5{
    width: 250px;
    height: 400px;
    margin-left: 2px;
    margin-top: 3px;
}
.card-title-5{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;

}
.card-items-5{
    justify-content: space-between;
    display: flex;
}
.card-price-5{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 7px;
}
.card-button-wrapper-5{
    margin-top: 35px;
    text-align: right;
    font-size: 15px;
}
.card-button-5{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-5:hover{
    background-color: #a47d5a;
}
.card-6{
    background-color: #fff;
    width: 300px;
    padding: 35px;
    line-height: 1;
    margin-left: 90px;
    margin-top: 13px;

}
.card-img-6{
    width: 250px;
    height: 400px;
    margin-left: 2px;
    margin-top: 3px;
}
.card-title-6{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;

}
.card-items-6{
    justify-content: space-between;
    display: flex;
}
.card-price-6{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 7px;
}
.card-button-wrapper-6{
    margin-top: 35px;
    text-align: right;
    font-size: 15px;
}
.card-button-6{
    background-color: #BD9671;
    padding: 4px 18px;
    text-decoration: none;
    color: #fff;
    transition:  background-color 0.5s linear;
}
.card-button-6:hover{
    background-color: #a47d5a;
}
section#section-3 {
    margin-top: 0;
    height: 1500px;
    width: 100%;
    font-family: inherit;
    background-color: #BD9671;
    left: 0;
    right: 0;
    padding-top: 80px;
    font-size: 45px;
    text-align: center;
}
.gallery-container {
    margin-top: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    column-gap: 1px;
    row-gap: 50px;

}
.gallery-photo-1{
    width: 370px;
    height: 570px;

}
.gallery-photo-2{
    width: 370px;
    height: 570px;

}
.gallery-photo-3{
    width: 370px;
    height: 570px;

}
.gallery-photo-4{
    width: 370px;
    height: 570px;

}
.gallery-photo-5{
    width: 370px;
    height: 570px;

}
.gallery-photo-6{
    width: 370px;
    height: 570px;

}








